.container {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-wrapper {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  margin: 1rem auto;
}
.card-wrapper * {
  margin: 0.5rem 0;
}

.card-header,
.card-content {
  text-align: center;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
